doctype html
html
  head
    title sample app
    link(rel="stylesheet", type="text/css", href="/css/base.css")
  body
    h1.base #{title}
    p= message
    form(method="POST" action="/user/create")
      label ユーザー名:
      input(type="text" name="user_name")
        
      input(type="submit" value="新規ユーザ作成")
